<div class="social">
	<h4>
    {% for link in site.social %}
        <a href="{{ link.url }}" target="_blank">
            <img class="socialicon" 
            src="{{ site.url }}/static/img/brand{{ link.icon }}" 
            alt="{{ link.title }}" 
            {% if link.fallbackicon %}onerror="this.onerror=null; this.src='{{ site.url }}/static/img/brand{{ link.fallbackicon }}'"{% endif %}
            >
        </a>
    {% endfor %}
	</h4>
</div>
<div>
 <!--   <textarea id="textbox">Here's my PGP: 
(You can also refer to my DNS records to verify accuracy, it's a TXT record)
Here's My Email: {{ site.email }}</textarea>
</div>-->